[submodule "Mathner/Mathner/vendor/spdlog"]
	path = Mathner/Mathner/vendor/spdlog
	url = https://github.com/gabime/spdlog
[submodule "Mathner/Mathner/vendor/GLFW"]
	path = Mathner/Mathner/vendor/GLFW
	url = https://github.com/McKon/glfw.git
[submodule "Mathner/Mathner/vendor/imgui"]
	path = Mathner/Mathner/vendor/imgui
	url = https://github.com/McKon/imgui.git
[submodule "Mathner/Mathner/vendor/glm"]
	path = Mathner/Mathner/vendor/glm
	url = https://github.com/g-truc/glm
